@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./Roboto-Regular.woff) format('woff'), url(./Roboto-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(./Roboto-Medium.woff) format('woff'), url(./Roboto-Medium.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(./Roboto-Bold.woff) format('woff'), url(./Roboto-Bold.woff2) format('woff2');
}